<!DOCTYPE html>
<html>
<head>
    <title>BFS Program</title>
</head>
<body>
    <h1 style="color: lightblue;"> BFS Program </h1>
    <form action="/process" method="post">
        <p> Enter coordinates for obstacles: <input type="text" name="obstacles"> </p>
        <p> Enter amount of rows: <input type="text" name="rows"> </p>
        <p> Enter amount of columns: <input type="text" name="columns"> </p>
        <p> Enter coordinates of starting point: <input type="text" name="start"> </p>
        <p> Enter coordinates of goal: <input type="text" name="goal"> </p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
